# CakePHP 3

/vendor/*
/config/app.php

/logs/*
!/logs/empty
# Ignore environment files
**/*.env

# Ignore Composer vendor directory
/vendor/
# Optional: ignore IDE settings
/.idea/

# Ignore SQLite database file
/data/*.db
